#
# Create a file called builder.env based on this file
# Set the following variables

# export PROJECT='identidock';
export PROJECT='';

# export URL="github.com/pandu-rao/$PROJECT";
export URL="";

export DOCKER_REGISTRY_USERNAME='';
export DOCKER_REGISTRY_PASSWORD='';

# export WORKERNAME='identidock-worker';
export WORKERNAME='';
export WORKERPASS='';
